body{
  padding: 0;
  margin: 0;
  background-color: rgb(175, 201, 224);
  height: max-content;
}
h1{
  text-align: center;
}
#listinput
{
  color: rgb(22, 22, 247);
  font-size: 20px;
}
.list{
display: flex;
justify-content: center;
align-items: center;
border: 2px solid;
max-width: 40%;
margin-left: 28%;
}
input{
  padding: 10px;
  width: 200px;
  margin: 20px;
  
}

button{
  padding: 10px;
  color: black;
}